.influencer-item-grid {
    display: flex;
    gap: 30px;
  }

  .influencer-section-card {
    display: flex;
  }
  .influencer-top {
    display: flex;
    justify-content: space-between;
  }
  .influencer-section {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }

  .influencer-item-grid {
    width: 90%;
  }
  .influencer-card-img {
    display: flex;
    width: 40%;
  }
  .influencer-card-content {
    display: flex;
    width: 60%;
  }

  .influencer-card-heading {
    font-size: 10px;
    margin: 12px 0px;
  }
  .influencer-card-detalis {
    font-size: 12px;
  }


  .influencer-section .card-content-inner {
    background: white;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: 0px;
    position: relative;
    margin: 20px 0px 20px -70px;
  }

  .author-inside img {
    width: 40px;
  }

  @media(max-width:782px){
    .influencer-section {
      margin-top: 30px;
      padding-bottom: 50px;
    }
    .influencer-item-grid {
      flex-direction: column;
    }
    .influencer-section-card {
      flex-direction: column;
    }
    .influencer-card-img {
      width: 100%;
    }
    .influencer-card-content {
      width: 100%;
    }

    .influencer-section .card-content-inner {
      padding: 10px 24px;
      border-radius: 1px;
      margin-top: 0px;
      margin: -30px 10px 0px 10px;
    }
    .influencer-section-card {
      background: rgb(241, 241, 241);
      padding-bottom: 12px;
    }
    .social-icons {
      gap: 10px;
      font-size: 12px;
    }
    .discover-button button {
      padding: 8px 12px;
      font-size: 10px;
    }
  }