.praying-hands-inside {
    z-index: 9991;
    position: absolute;
    background: rgb(239, 239, 239);
    width: 50px; /* Circle width */
    height: 50px; /* Circle height */
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 35px 25px;
    top: -5px;
  }
  .praying-hands {
    position: absolute;
    top: -30px; /* Adjust positioning as needed */
    left: 20px; /* Position from left */
    width: 100px; /* Circle width */
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 30px;
    height: 70px;
    margin: -27px -1px;
    background:
      radial-gradient(var(--size) at 50% 50px,white 99%, #0000 101%) 
        50% 0/calc(4 * var(--size)) 100% no-repeat,
      radial-gradient(var(--size) at 50% -1px,transparent 99%,white 10%) 50% var(--size)/calc(1.9*var(--size)) 100% repeat-x;
  }
  
  
  